<button
  {{action "refetchData" model}}
  class="refetch-data"
>
  Refetch
</button>

<ul class="reviews-list">
  {{#each model as |item|}}
    <li>
      <span class="model-stars">{{item.stars}}</span>:
      <span class="model-commentary">{{item.commentary}}</span>
    </li>
  {{/each}}
</ul>
